.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--N400);
  padding: 20px 0px;
  margin: 0px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--royal-blue);
}

.filter-container h3 {
  font-size: 16px;
  font-weight: 300;
}
