.footer {
  background-color: var(--lavender-2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-cta {
  width: 80%;
  background-color: #fff;
  padding: 60px;
  display: flex;
  position: relative;
  top: -100px;
  box-shadow: -2px 10px 30px rgba(21, 31, 71, 0.2);
}

.cta-content {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.cta-heading {
  color: var(--midnight-blue);
  font-size: 38px;
  font-weight: 500;
  line-height: 48px;
}

.btn-job {
  background-color: var(--dark-slate-blue);
  color: #fff;
  text-align: center;
  letter-spacing: -0.5px;
  height: auto;
  padding: 14px 24px;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-decoration: none;
  border: none;
  transition: all 0.4s;
}

.btn-job:hover {
  background-color: var(--cornflower-blue);
  box-shadow: inset 0 200px 200px 200px rgba(2, 2, 2, 0.11);
}

.cta-side-image {
  width: 500px;
  height: auto;
  background-image: url("../assets/img-4.jpg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.footer-container {
  width: 80%;
  background-color: var(--lavender-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #666;
  height: auto;
}

.footer-side-image {
  background-image: url("../assets/img_5.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
  height: 300px;
}

.footer-column {
  width: 10%;
}

.footer-heading {
  color: #41475f;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.f-list-unstyled {
  list-style: none;
}

.f-item {
  margin: 10px 0px;
}

.footer-copyright {
  margin-top: 100px;
}
