* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-slate-blue: #151f47;
  --dark-slate-blue-2: #41475f;
  --lavender-2: #f1f8ff;
  --cornflower-blue: #839bff;
  --midnight-blue: #1e2b5c;
  --royal-blue: #5478ff;
  --lavender: #d1d8f3;
  --light-steel-blue: #bac6f6;
  --N400: #e7e7f1;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
